<section class="recruit-section p-3 p-lg-5 d-flex d-column" id="howtouse">
    <div class="my-auto">
      <h1 class="mb-0">How to
        <span class="text-primary">use</span>
      </h1>
        <h3 class="mb-0">aㄴㅇㄻㄴㄹ</h3>
      <div class="subheading mb-3">for rookie</div>
      <p class="mb-5">사용하는 동영상 삽입.</p>
    </div>
</section>
