<section class="recruit-section p-3 p-lg-5 d-flex flex-column" id="ITnewbie">
<div class="my-auto">
  <h1 class="mb-0"><span class="text-primary">IT Rookie</span> Recruitment Info</h1>
  <div class="recruit-item d-flex flex-column flex-md-row mb-5">
    <div class="recruit-content mr-auto">
      <h3 class="mb-0">IT Developer</h3>
      <div class="subheading mb-3">for rookie</div>
        <p>
            <input class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="multiCollapseExample1" id="itnewbie" value="모든 정보 보기"/>
        </p>
        <p>
          <input class="search" value="">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="multiCollapseExample2" id="searchbtn">검색</button>
        </p>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="collapse">
                    <div class="card card-body">
                        <div id="ITnewbieInfo">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                    <div class="card card-body">
                        <div id="ITnewbieInfoSearched">

                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
  </div>
</div>

</section>